body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
}

h1 {
    color: navy;
}

p {
    color: red;
}
#header {
    height:100vh;
    width:100%;
    background-image: url(1729523403061.jpg);
    background-position: centre;
    background-size: cover;
}
